NotificationCenter {
    layer: overlay;
    dock: top;
    width: 44;
    height: auto;
    max-height: 100%;
    align: right top;
    margin: 1 1 0 0;
    offset-x: 0;
    layout: vertical;
}
NotificationCenter > NotificationToast {
    width: 100%;
    height: auto;
    max-height: 8;
    margin-bottom: 1;
    padding: 0 1;
    border: round $primary;
    background: $panel;
}
NotificationToast.-information {
    border: round $primary;
}
NotificationToast.-success {
    border: round $success;
}
NotificationToast.-warning {
    border: round $warning;
}
NotificationToast.-error {
    border: round $error;
}
NotificationToast.-critical {
    border: heavy $error;
    background: $error 15%;
}
NotificationToast #toast-title {
    text-style: bold;
    height: 1;
}
NotificationToast #toast-body {
    color: $text-muted;
    height: auto;
}
NotificationToast #toast-close {
    dock: right;
    width: 3;
    height: 1;
    color: $text-muted;
}
NotificationToast #toast-close:hover {
    color: $text;
    text-style: bold;
}
