HttpView {
    height: 1fr;
    layout: vertical;
    border: none;
}
HttpView TextArea {
    height: 1fr;
    border: none;
    pointer: text;
}

RequestEditor {
    height: 1fr;
    border: solid $primary-darken-2;
    layout: vertical;
}
RequestEditor TextArea {
    height: 1fr;
    border: none;
    pointer: text;
}

ResponseViewer {
    height: 1fr;
    border: solid $primary-darken-2;
    layout: vertical;
}
ResponseViewer TextArea {
    height: 1fr;
    border: none;
    pointer: text;
}