StatusBar {
    height: 1;
    dock: bottom;
    background: $primary-darken-3;
    layout: horizontal;
}
StatusBar > _Left {
    width: 1fr;
    height: 1;
    layout: horizontal;
}
StatusBar > _Right {
    width: 1fr;
    height: 1;
    layout: horizontal;
}
.right-spacer {
    width: 1fr;
}
StatusBar .status-proxy {
    width: 20;
    padding: 0 1;
    color: $text;
}
StatusBar .status-proxy.running {
    color: $success;
}
StatusBar .status-proxy.stopped {
    color: $error;
}
StatusBar .status-project {
    width: 40;
    padding: 0 1;
    color: $text-muted;
    overflow: hidden hidden;
}
StatusBar > _Left > ActivityIndicator {
    width: 16;
}
StatusBar .status-saved {
    width: 10;
    padding: 0 1;
    text-align: center;
    color: $text-muted;
}
StatusBar .status-time {
    width: 10;
    padding: 0 1;
    text-align: right;
    color: $text-muted;
}